@use "sass:math"; // to use math in sass. sass:math is a built in function in sass

//NESTED RULES
.card {
  display: block;
  padding: $base-padding;
  border: $base-border-thickness solid #ddd;
  box-shadow: $base-box-shadow;
  border-radius: math.div($base-border-radius, 4); // we use math.div here.
  .card-title {
    font-size: $font-size-lg;
    padding-bottom: $base-padding;
    font-weight: bold;
  }
  .card-body {
    font-size: $base-font-size;
    a {
      text-decoration: underline;
    }
  }
}

//We use @debug to get a value or an answer eg.(2 + 2 = 4) we get the result of 4 and print it in the terminal
//similar to console.log in javascript.
// @debug "Hello Chezer";
// @debug $base-border-radius * 4;
// @debug math.div(20, 5);
// @debug math.floor(25);
// @debug math.max(20, 5, 6, 5, 8, 2, 3, 54);
